SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
JWT_SECRET=
JWT_EXPIRES_IN=7d
OCR_SPACE_API_KEY=
OCR_SPACE_API_URL=https://api.ocr.space/parse/image
EXCHANGE_RATE_API_KEY=
EXCHANGE_RATE_API_BASE_URL=https://v6.exchangerate-api.com/v6
PORT=4000
NODE_ENV=development
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
GOOGLE_CLIENT_IDS=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
PUSH_JOB_TOKEN=
